# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\LEARNING\Python4Real\YTCodeaDiscordBotwithPythonHostforFreeintheCloud\PyEncourageBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
